<div class="jumbotron center">
	<h1>Welcome to Tads app</h1>
	<p><%= link_to "sign up", "#", class: "btn btn-danger btn-lg" %>
    <%= link_to "sign in", "#", class: "btn btn-danger btn-lg" %>
	</p>
</div>